.menu a {
    color: black;
    font-size:11px;
    padding:0;
    padding-right:5px;
}
.menu hr {
    margin:0;
}
    .menu1, .menu3 {
    margin: 0;
    background-color: #fff;
}

    .menu1 > div,
    .menu3 > div {
        padding: 3px;
        position: relative;
    }

.menu > div {
    position: static;
}

.menu {
    display: none;
    position: static;
}
.menu_on_top:hover > .menu {
    display: block;
}
.menu_on_top:hover div {
    background-color: white;
}

.menu > div > .menu1,
.menu1 > div > .menu2,
.menu3 > div > .menu4 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}
.menu1 > div:hover >.menu2 {
    display: flex !important;
    min-width:600px;
}
.menu1 > div:hover > .menu2,
.menu3 > div:hover > .menu4 {
    display: block;
}
.menu_on_top {
    position: absolute;
    z-index: 30;
    left: 0;
    top: 0;
}
.menu {
    z-index: 35;
}
.menu1 > div:hover > a, .menu2 > div:hover > a, .menu3 > div:hover > a, .menu4 > div:hover > a {
    color: aqua;
}
.menu1 {
    z-index: 40;
}
.menu2{
    z-index: 50;
}
.menu3{
    z-index: 55;
}
.menu4{
    z-index: 60;
    min-width:100px;
}
/* set thuộc tính  */

.menu1 {
}

.menu2 {
}

.menu3 {
}

.menu4 {
}
/*
    source test

        <div class="container">
        <div class="menu_on_top">
            <div>DANH MỤC</div>
            <div class="menu menu1 row">
                <div class="col-6 col-md">
                    <a href="#">lv1</a>
                    <div class="menu1 menu2 row">
                        <div class="col-md-3 col">
                            <a href="#" class="col-4">lv2</a>
                            <hr>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1 menu4">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col">
                            <a href="#" class="col-4">lv2</a>
                            <hr>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col">
                            <a href="#" class="col-4">lv2</a>
                            <hr>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col">
                            <a href="#" class="col-4">lv2</a>
                            <hr>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col">
                            <a href="#" class="col-4">lv2</a>
                            <hr>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col">
                            <a href="#" class="col-4">lv2</a>
                            <hr>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 row menu3">
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="col-4">lv3</a>
                                    <div class="col-8 row menu1">
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                        <div>
                                            <a href="#" class="col-4">lv4</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaas
    </div>



*/