.menu a {
    color: black;
    font-size:11px;
    padding:0;
    padding-right:5px;
}
.menu hr {
    margin:0;
}
.menu > div {
    position: static;
    max-width:150px;
}
.menu div {
    background-color: #fff;
    margin: 0;
    position: static;
}

.menu {
    display: none;
    position: static;
}
        .menu1 > div{
            padding: 3px;
            position: static;
        }
.menu_on_top{
    position:relative;
}
    .menu_on_top > div > col-6{
        position:static;
    }
    .menu_on_top:hover > .menu {
        display: block;
    }
.menu_on_top:hover div {
    background-color: white;
}
.menu > div > .menu1,
.menu1 > div > .menu2,
.menu3 > div > div > .menu4 {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
}
.menu1 > div:hover > .menu2 {
    display: flex !important;
    min-width:600px;
}
.menu3 > div:hover > div > .menu4 {
    display: flex !important;
    padding:5px;
    min-width: 100px;
}
.menu_on_top {
    position: absolute;
    z-index: 30;
    left: 0;
    top: 0;
}
.menu {
    z-index: 35;
}
.menu1 > div:hover > a, .menu2 > div:hover > a, .menu3 > div:hover > a, .menu4 > div:hover > a {
    color: aqua;
}
.menu1 {
    z-index: 1;
}
.menu2{
    z-index: 3;
}
.menu3,menu3 div{
    z-index: 5;
    left:0;
}
    .menu3 > div > div {
        top: -100%;
    }
    .menu4{
    z-index: 5;
    flex-wrap:wrap;
}
    .menu4 div {
        z-index: 8;
    }
    /* set thuộc tính  */
