body {
}
.shopaddress p {
    font-weight: bold;
}

.shopaddress i {
    margin-right: 5px;
}
.thumbnail .item span p {
    color: red;
    font-weight: bold;
}
.thumbnail img {
    height:200px!important;
    object-fit:cover;
}
.thumbnail .caption{
    text-align:center;
}